<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image OCR</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Image OCR</h1>
        <div class="button-container">
            <button type="button" onclick="window.location.href='/'">Go to Home</button>
            <button type="button" onclick="performOCR()">Perform OCR</button>
        </div>
        <div class="paste-container">
            <h2>Paste your image here</h2>
          <p>Remember to save image before perform OCR</p>
          <p>It will take several minutes, please be patient</p>
            <div id="paste-box" contenteditable="true" onpaste="handlePaste(event)">
                <p></p>
            </div>
            <button type="button" onclick="saveImage()">Save Image</button>
        </div>
        <div id="image-container">
            <h2>Pasted Image</h2>
            <div class="image-frame">
                <img id="pasted-image" src="" alt="Pasted Image" style="display: none;">
            </div>
        </div>
        <div id="ocr-result" class="ocr-result"></div>
        <div id="loading" class="loading" style="display: none;">Loading</div>
    </div>
    <script src="/static/js/other.js"></script>
</body>
</html>
